
.modalOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    z-index: 99;
}

@keyframes scaleIn {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes scaleOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}
  
.modalContent {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 36rem;
    transform: scale(0);
    animation: scaleIn 0.6s ease forwards;
    opacity: 0;
}

.modalOpen {
    animation: scaleIn 0.6s forwards;
}
  
.modalClose {
    animation: scaleOut 0.6s forwards;
}
  
.paddingLarge {
    padding: 5px;
}

.spacingLarge {
    margin-bottom: 1rem;
    padding: 0 20px;
}

.spacingLarge label{
    font-size: 13px;
}

.titleSection{
    margin-top: 10px;
}
  
.inputField {
    margin-top: 0.25rem;
    display: block;
    width: 100%;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 0.5rem;
    font-size: 0.875rem;
}

/* Priority Section */

.priorityGroup{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.radioGroup {
    display: flex;
    gap: 5px;
    margin-left: 18px;
}

.radioGroup input{
    display: none;
}
  
.radioLabel {
    display: inline-flex;
    align-items: center;
}

.radioLabelGroup {
    padding: 7px 5px;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    font-size: 13px !important;
}

.radioActive{
    background-color: #EEECEC;
}
  
.radioColorBox{
    border-radius: 50px;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    display: inline-block;
}

.radioLabelGroup .radioHigh {
    background-color: #dc2626;
    border-radius: 50px;
    height: 10px;
    width: 10px;
    margin: 0 5px;
}

.radioModerate {
    background-color: #2563eb;
}

.radioLow {
    background-color: #16a34a;
}

  
/* Checklist */

.checklistSection{
    padding: 0 !important;
}

.checklistSection label{
    padding: 0 20px;
}
.checklistContainer {
    margin: 0.5rem 0;
    list-style: none;
    padding: 5px 20px;
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

.checklistContainer::-webkit-scrollbar {
    width: 8px;
}

.checklistItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #d1d5db;
    padding: 0 12px;
    border-radius: 12px;
    margin-bottom: 10px;
}
  
.checklistCheckbox {
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 6px;
    cursor: pointer;
    appearance: none;
    background-color: white;
    border: 2px solid #9CB7C5;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
}

.checklistCheckbox:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.checklistCheckbox:checked::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 4px;
    width: 0.25rem;
    height: 0.5rem;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
  
.checklistInput {
    flex-grow: 1;
    border: none;
    padding: 0.5rem;
    font-size: 0.875rem;
}
  
.checklistRemoveButton {
    color: #dc2626;
    cursor: pointer;
    border: none;
    background-color: white;
}

.noteMessage{
    color: red;
    font-size: 14px;
}
  
.addChecklistButton {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    margin-top: 0.5rem;
    color: #767575;
    background-color: white;
    font-size: 0.875rem;
    cursor: pointer;
    border: none;
    font-weight: 500;
    padding: 0 15px;
}

.dueDateLabel {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: #4b5563;
    width: 128px;
    padding: 10px;
    border: 1px solid #E2E2E2;
    border-radius: 12px;
    text-align: center;
}

.dueDateLabel:hover{
    background-color: #F7F7F7;
}
  
.datePickerModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px 8px 24px rgba(0, 0, 0, 0.08);
}
  
.modalFooter {
    padding-left: 3rem;
    flex: 1;
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
    border-radius: 0 0 0.5rem 0.5rem;
}
  
  .saveButton {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .saveButton:hover {
    background-color: #138496;
  }

  .saveButton:disabled {
    background-color: #b5b5b5;
    color: #e0e0e0; 
    cursor: not-allowed;
    box-shadow: none;
  }

  .cancelButton {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    border-radius: 0.375rem;
    background-color: white;
    color: var(--danger-color);
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid var(--danger-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .cancelButton:hover {
    background-color: #CF3636;
    color: white;
  }