.column {
    background-color: #EEF2F5;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    transition: transform 0.2s ease;
}

.columnHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
}

.columnHeader h3{
    font-size: 16px;
    font-weight: 500;
    font-family: var(--primary-font);
}

.toggleIcon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-left: 25px;
    transition: transform 0.2s;
}